* {
    overflow-x: hidden;
    padding: 0px !important;
    margin: 0px !important;
    text-decoration: none;
}
body{
    height:100% ;
    width:100% ;
}
.v20_0 {
    width: 1800px;
    height: 200px;
    background: rgba(255,255,255,1);
    opacity: 1;
    position: relative;
    top: 0px;
    left: 0px;
    overflow: hidden;
}
.v20_1 {
    width: 200px;
    height: 200px;
    background: url("v20_1.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    overflow: hidden;
}
.v21_107 {
    width: 80%;
    height: 100px;  
    position: absolute;
    top: 50px;
    left: 200px;
    overflow: hidden;
}
ul{
    column-gap: 40px;
    list-style: none;
    display:grid;
    grid-template-columns: repeat(6,1fr);
    user-select: none;
}
li{
    line-height: 80px;
    box-sizing: border-box; 
    width: 100%;
    height: 100%;
    color: black;
    border: 1px solid black;
    background-color: white;
    
}
li:hover {
    background-color:  black;
    user-select: none;
    text-decoration-color:#fff; ;
}
li:hover a{
    text-decoration: none;
    color:white;
}
.text{
    color: black;
    text-decoration: none;
    text-align: center ;
    align-items: center;  
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
}
a.link{
    color: black;
    text-decoration: none;
}
.bg{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    margin-top: 218px;
    left:0px;
    border: 1px solid black ;
}

.rect1{
    position: absolute;
    width: 636px;
    height: 614px;
    left: 30px;
    top: 342px;
    background: url("happy1.png");
}
.rect2{
    position: absolute;
    width: 620px;
    height: 614px;
    left: 700px;
    top: 342px;
    background: url("hp2.png");
}
.btnM{
    
    position: absolute;
    width: 147px;
    height: 75px;
    left: 300px;
    top: 611px;
    font-family: Public Sans;
    font-style: normal;
    font-weight: 500;
    font-size: 64px;
    line-height: 75px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #000000;
    text-shadow: 0 0 5px #fff; 
}
.btnF{
    position: absolute;
    width: 254px;
    height: 75px;
    left: 875px;
    top: 611px;
    font-family: Public Sans;
    font-style: normal;
    font-weight: 500;
    font-size: 64px;
    line-height: 75px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #000000;
    text-shadow: 0 0 5px #fff;  
}
p a{
    color: black;
    text-decoration: none;
}